.App {
  text-align: left;
  /* align-items: left; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  width: 70%;
  margin: auto;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.gridcontainer {
  border: 1px solid black;
  height: 1000px;
}
